.cv_preview {
  min-width: 600px; /* largeur minimale */
  max-width: 100%; /* ne dépasse pas le parent */
  width: 100%;
}

.cv_header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cv_header_personal_details {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
  text-align: end;
}

.avatar_container {
  position: relative;
}
.avatar_container .photo_uploader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
  cursor: pointer;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
}

.avatar_container:hover .photo_uploader {
  opacity: 1;
}

.avatar_container .photo_uploader input[type="file"] {
  display: none;
}

.avatar_container .photo_uploader svg {
  color: white;
  font-size: 2rem; /* taille de l’icône */
}

.download_pdf {
  position: fixed;
  bottom: 1.5rem;
  right: 2rem;
  background-color: #00e6bd;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: white;
  display: flex;
  gap: 0.25rem;
  align-items: center;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
